
.formContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 10vh);
    background-color: black;
}
.white {
    color: white;
}


input.input {
    
    color: white;
    border-bottom-color: rgba(0,0,0,.42);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    background: transparent;
    height: 44px;
}
input.input:focus{
    outline: none;
    border-color: #1ED760;
}
input.input:hover{
    border-bottom-color: rgba(0,0,0,.87);
    outline: none;
}

button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #1ED760;
    height: 48px;
}
button:hover  {
    transform: scale(1.04);
    background-color: #21e065;
}
p.subtitle {
    color: white;
    font-weight: 500;
    font-size: 0.75rem;
    text-align: center;
    max-width: 450px;
}

