/* macro-elements */
.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}
/* label and inputs */
label > input.input {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .009375em;
    align-self: flex-end;
    box-sizing: border-box;
    padding: 20px 16px 6px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-bottom: 1px solid grey;
    padding: 6px 12px;
    border-radius: 4px 4px 0 0;
    background: transparent;
    height: 46px;
    color: white;
}
label > input.input:hover{
    border-bottom-color: white;
}
label > input.input:focus{
    border-bottom-color: white;
    outline: none;
}
hr {
    width: 100%;
    border-bottom: 1px solid rgba(128,128,128, 0.1);
    margin: 12px 0px 0px;
}

